<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @artist, partial: "card", as: :artist %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_albums" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_songs" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "artists/artist_album_reviews" %>
  </div>
</div>
  <!-- Show Page Customization end -->
