<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Song Reviews

    <a data-toggle="collapse" href="#song_song_reviews_new_form">
      Add song review
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @song.song_reviews.each do |song_review| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to song_review, song_review %>

        <% if current_user == song_review.user %>
          <%= link_to song_review, method: :delete do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="song_song_reviews_new_form">
        <%= render partial: "songs/song_song_reviews_new_form" %>
      </div>
    </div>

  </ul>
</div>
