<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Artist
  </div>

  <ul class="list-group list-group-flush">
    <% @album_review.artist.each do |artist| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/artists/<%= artist.id %>">
          <%= artist %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
